/*
Theme Name: DataSpeed, Inc. - v1.5
Theme URI: http://dataspeedinc.com/
Description: Custom Child Theme Developed for Data Speed. Updated to 1.5 by Malcolm Digital (https://malcolmdigital.com) to add customer portal functionality, woocommerce, product downloads and deliver an improved customer exprienece.
Author: Element5
Author URI: https://element5digital.com/
Template: twentysixteen
Version: 1.5
*/

@charset "utf-8";

div[data-repeater-item] input[type="text"] {
	width: 50% !important;
}

div[data-repeater-item] input[type="button"] {
	width: 10% !important;
}

input[data-repeater-create] {
	width: 25% !important;
}

.required_message p {
	color: #f00;
}