/*-------------------------------------------------------------------

  1.  FONTS
  2.  BASICS
  3.  HEADER
  4.  FOOTER
  5.  PAGE TEMPLATES
  6.  PAGE SPECIFIC
  7.  RESPONSIVNESS BREAKING POINTS

-----------------------------------------------------------------*/
@charset "utf-8";
/*--------------------------------------------------------FONTS--*/
@import url('https://fonts.googleapis.com/css?family=Muli:400,400i|Titillium+Web:300,600i,700');
/*-------------------------------------------------------BASICS--*/
html, body { 
  font-family: 'Open Sans', sans-serif;
  margin: 0 !important; 
  padding: 1px 0 0 0 !important; 
}
body:before, body:after { display: none !important; }
* {
  box-sizing: border-box;
  transition: all .25s ease-in-out 0s; 
}
section { position: relative; }
/*-----------------------------HEADINGS--*/
h1, h2, h3, h4, h5, h6
.widget h1, .widget h2, .widget h3, 
.widget h4, .widget h5, .widget h6 { 
  font-family: 'Titillium Web', sans-serif;
  margin: 1em 0 .5em 0;
  padding: 0;
}
h5, .widget h5 { text-transform: uppercase; } 
/*----------------------TEXT FORMATTING--*/
p, a, ol, ul {
  font-family: 'Muli', sans-serif;
  font-size: 1em;
  line-height: 1.38;
  margin: 0 0 1.5em 0;
  padding: 0;
  word-wrap: break-word;
}
a { margin: 0; }
.primary-button, .secondary-button {
  font-family: 'Titillium Web', sans-serif;
}
ul li {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 10px auto;
  list-style: none;
  margin: 0 0 5px 0;
  padding: 0 0 0 20px;
}
ol li { margin-left: 20px; }
hr { 
  background: #676d79;
  border: none; 
  height: 3px; 
  margin: 1em 0;
  width: 100%; 
}
blockquote, q { 
  background-repeat: no-repeat;
  background-position: center left 10px;
  background-size: 75px auto;
  border: none;
  padding: 15px 25px 15px 100px;
  quotes: none;
  margin: 25px 0;
}
blockquote p, q p, p.block-quote { font-style: italic; margin: 0; }
p b, p strong { color: #1bb05c; }
/*--------------------------SHORT CODES--*/
.legal-text {  
  color: #a8a8a8; 
  font-size: .75em; 
}
.primary-button { 
  background: #000;
  border-radius: 100px;
  border: 2px solid #000;
  color: #fff;
  display: inline-block;
  font-weight: 800;
  margin: 0 10px 0 0;
  min-width: 200px;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.secondary-button { 
  background: transparent;
  border-radius: 100px;
  border: 2px solid #26304b !important;
  color: #676d79;
  display: inline-block;
  font-weight: 800;
  margin: 0 10px 0 0;
  min-width: 200px;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
} 
.secondary-button:hover {  
  background-color: #1bb05c !important;
  color: #26304b !important;
  border: 2px solid #1bb05c !important;
}
.dark-bg .secondary-button { border: 2px solid #ffffff !important; }
.dark-bg .secondary-button:hover { color: #fff !important; border: 2px solid #1bb05c !important; }
.primary-button.arrow, .secondary-button.arrow {
  background-position: center right 10px;
  background-repeat: no-repeat;
  background-size: 25px;
  padding: 10px 50px 10px 16px;
}
.dark-bg .secondary-button.arrow {
  background-image: url('/wp-content/uploads/2016/11/icon-arrow-white-right.svg') !important;
}
a.category {
  background-color: #1bb05c;
  border-radius: 100px;
  border: 2px solid #1bb05c;
  color: #1d2336;
  display: inline-block;
  font-weight: 800;
  margin: 0 10px 0 0;
  padding: 4px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .875em;
}
/*--------------------RESPONSIVE SIZING--*/
.full-width { width: 100%; }
.max-width { max-width: 1200px; margin: 0 auto; padding: 0 10px; }
.one-half { width: 48%; margin: 0 1%; float: left; }
.one-third { width: 31.33%; margin: 0 1%; float: left; }
.two-third { width: 64.66%; margin: 0 1%; float: left; }
.one-fourth { width: 23%; margin: 0 1%; float: left; }
.one-fifth { width: 18%; margin: 0 1%; float: left; }
.clearfix:after { 
  clear: both;
  content: "."; 
  display: block; 
  height: 0; 
  visibility: hidden; 
}
.vertical-align-parent { display: table; height: 100%; width: 100%; }
.vertical-align-parent.one-half { width: 48%; }
.vertical-align { display: table-cell; vertical-align: middle; }
/*-------------------------------------------------------HEADER--*/
.search-bar { 
  margin-bottom: 20px;
  max-height: 0; 
  overflow: hidden; 
  position: relative;
  z-index: 10000;
  transition: all .5s ease-in-out 0s; 
}
.search-bar.activated { max-height: 100px; }
.search-bar form { 
  padding-left: 10px;
  padding-right: 0;
  text-align: left;
  width: 100%
}
.search-bar form label { font-family: 'Muli', sans-serif; }
.search-bar form input { 
  padding: 8px !important;
  width: calc(100% - 290px) !important;
}
.search-bar form button {
  border-radius: 100px;
  border: none;
  cursor: pointer;
  font-family: 'Titillium Web', sans-serif;
  font-size: .875em;
  font-size: 1em !important;
  letter-spacing: 3px;
  padding: 4px 28px !important;
  text-transform: uppercase;
}
.search-bar .search-bar-icon {
  border-radius: 100px;
  border: 2px solid #fff !important;
  color: #fff;
  cursor: pointer;
  font-size: .875em !important;
  letter-spacing: 3px;
  min-width: 0;
  padding: 4px 28px !important;
  position: absolute;
  right: 0;
  top: 25px;
  width: auto;
}
.search-bar .search-bar-icon:hover { border-color: #1BB05C !important; }
.main-nav { height: 100px; z-index: 1000; margin-top: -2px; }
.main-nav h2 { float: right; margin: 0; }
.main-nav .one-half { height: 100%; margin: 0; width: 50%; }
.main-nav .header-left-container { 
  background-color: #1d2336;
  float: right; 
  height: 100%; 
  width: 100%; 
}
.main-nav .header-left-container .header-left {
  float: right; 
  height: 100%;
  max-width: 600px; 
  width: 100%;
}
.main-nav .header-left-container #nav-logo { 
  float: left; 
  height: 50px;
  margin: 25px 0;
}
.main-nav .header-left-container .main-menu-icon {
  background-color: #26304b;
  background-image: url("../../img/icon-menu.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35px;
  cursor: pointer;
  float: right;
  height: 100%;
  width: 100px;
}
.main-nav .header-left-container .main-menu-icon.open {
  background-image: url("../../img/icon-menu-close.png");
}
.main-nav .header-right-container { 
  background-color: #ffffff;
  border-bottom: 1px solid #1d2336;
  float: left; 
  height: 100%; 
  width: 100%; 
}
.main-nav .header-right-container .top-bar-container {
  background-color: #aebed0;
  height: 30px;
  line-height: 25px;
  overflow: hidden;
  width: 100%;
}
.main-nav .header-right-container .top-bar {
  float: left;
  line-height: 25px;
  max-width: 600px;
  text-align: right;
  width: 100%;
}
.main-nav .header-right-container .top-bar a {
  color: #1d2336;
  font-size: .75em;
  font-weight: 600;
  text-decoration: none;
  opacity: .5;
}
.main-nav .header-right-container .top-bar a:hover { opacity: 1; }
.main-nav .header-right-container .top-bar a.icon-link {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 12px;
  display: inline-block;
  height: 18px;
  vertical-align: middle;
  width: 18px;
}
.main-nav .header-right-container .top-bar a.header-phone { background-image: url("../../img/icon-phone-topbar.svg"); }
.main-nav .header-right-container .top-bar a.header-facebook { background-image: url("../../img/icon-facebook-topbar.svg"); width: 10px; }
.main-nav .header-right-container .top-bar a.header-instagram { background-image: url("../../img/icon-instagram-topbar.svg"); }
.main-nav .header-right-container .top-bar a.header-linkedin { background-image: url("../../img/icon-linkedin-topbar.svg"); }
.main-nav .header-right-container .top-bar a.header-youtube { background-image: url("../../img/icon-youtube-topbar.svg"); }
.main-nav .header-right-container .top-bar a.header-rg { background-image: url("../../img/icon-rg-topbar.svg"); width: 11px; }
.main-nav .header-right-container .top-bar a.header-careers { margin-left: 4px; }
.main-nav .header-right-container .header-right {
  float: left; 
  height: 70px;
  line-height: 70px;
  max-width: 600px; 
  text-align: right;
  width: 100%;
}
.main-nav .header-right-container .header-tagline {
  color: #1bb05c;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.35em;
  font-style: italic;
  font-weight: 600;
}
.main-nav.is_stuck { height: 75px; }
.main-nav.is_stuck .header-left-container #nav-logo { height: 35px; margin: 15px 0; }
.main-nav.is_stuck .header-right-container .top-bar-container { height: 0; }
.main-menu {  
  background-color: #26304b; 
  float: right; 
  height: 0;
  overflow: hidden;
  padding: 0; 
  position: relative;
  transition: all .5s linear 0s; 
  width: 100%;
  z-index: 1000;
}
.main-menu.open {
  height: calc(100vh - 100px);
  padding: 0 0 20px 0; 
}
.main-nav.is_stuck .main-menu.open {
  height: calc(100vh - 70px);
  padding: 20px 0; 
  top: -2px;
}
.main-menu a { 
  background-color: #1d2336; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 25px;
  float: left;
  height: 60px; 
}
.main-menu a:hover {
  background-color: #1bb05c;
  color: #1d2336;
}
.main-menu a.menu-phone { background-image: url("../../img/icon-phone-menu.svg"); }
.main-menu a.menu-map { background-image: url("../../img/icon-map-menu.svg"); }
.main-menu a.menu-search { background-image: url("../../img/icon-search-menu.svg"); cursor: pointer; }
.main-menu a.menu-facebook { background-image: url("../../img/icon-facebook-menu.svg"); }
.main-menu a.menu-instagram { background-image: url("../../img/icon-instagram-menu.svg"); }
.main-menu a.menu-linkedin { background-image: url("../../img/icon-linkedin-menu.svg"); }
.main-menu a.menu-youtube { background-image: url("../../img/icon-youtube-menu.svg"); }
.main-menu a.menu-rg { background-image: url("../../img/icon-rg-menu.svg"); }
.main-menu a.menu-phone:hover { background-image: url("../../img/icon-phone-menu-hover.svg"); }
.main-menu a.menu-map:hover { background-image: url("../../img/icon-map-menu-hover.svg"); }
.main-menu a.menu-search:hover { background-image: url("../../img/icon-search-menu-hover.svg"); }
.main-menu a.menu-facebook:hover { background-image: url("../../img/icon-facebook-menu-hover.svg"); }
.main-menu a.menu-instagram:hover { background-image: url("../../img/icon-instagram-menu-hover.svg"); }
.main-menu a.menu-linkedin:hover { background-image: url("../../img/icon-linkedin-menu-hover.svg"); }
.main-menu a.menu-youtube:hover { background-image: url("../../img/icon-youtube-menu-hover.svg"); }
.main-menu a.menu-rg:hover { background-image: url("../../img/icon-rg-menu-hover.svg"); }
.main-menu ul { margin: 20px 0; }
.main-menu li { 
  background-image: none;
  height: 60px; 
  margin: 0 1% 5px 1%;
  padding: 0;
  width: 98%;
}
.main-menu li a {
  color: #1bb05c;
  display: block;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  height: 100%;
  letter-spacing: 3px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.main-menu li:last-child, .main-menu li:nth-last-child(2) {
  float: left;
  height: 20px;
  margin: 14px 0;
  width: 50%; 
}
.main-menu li:last-child { border-left: 1px solid #fff; }
.main-menu li:last-child a, .main-menu li:nth-last-child(2) a,
.main-menu li:last-child a:hover, .main-menu li:nth-last-child(2) a:hover {
  background: transparent;
  color: #fff;
  font-family: 'Muli', sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 0;
  line-height: 20px;
  text-transform: capitalize;
  padding: 0 8px;
}
.main-menu li:last-child a { text-align: left; position: relative; }
.main-menu li:nth-last-child(2) a { text-align: right; }
.main-menu li:last-child a:hover, .main-menu li:nth-last-child(2) a:hover {
  color: #1bb05c;
}
/*----------------------MAIN NAVIGATION--*/
nav ul { margin: 0; }
nav li {
  background-image: none !important;
  display: inline-block;
  margin: 0;
  padding: 0;
}
nav li a {
  font-family: 'Titillium Web', sans-serif;
  background-color: transparent;
  display: block;
  font-weight: 700;
  letter-spacing: 3px;
  padding: 0 25px 0 4px;
  text-decoration: none;
  text-transform: uppercase;
}
nav li a:hover { background-color: #dae8f6; }
/*-------------------------------------------------------FOOTER--*/
footer#footer { padding: 20px; }
footer#footer img { height: 50px; vertical-align: middle; }
footer#footer img, footer#footer #copyright, footer#footer a { 
  display: inline-block; 
  text-decoration: none; 
}
footer#footer #copyright, footer#footer #copyright a, footer#footer #created-e5 { 
  color: #a8a8a8; 
  font-size: .75em; 
  margin-left: 16px; 
}
footer#footer #copyright a { font-size: 1em; }
footer#footer #created-e5 img { vertical-align: middle; margin-left: 4px; }
.social-link { 
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 25px;
  display: inline-block; 
  height: 75px; 
  width: 75px; 
}
footer#footer .full-width .clearfix:nth-child(2) {
  float: right;
  margin-top: -50px;
  max-width: 300px;
  width: 100%;
}
footer#footer a.icon-link { 
  background-color: #1d2336;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 20px;
  float: left;
  height: 50px;
}
footer#footer a.icon-link:hover {
  background-color: #1bb05c;
  color: #1d2336;
}
footer#footer a.menu-phone { background-image: url("../../img/icon-phone-menu.svg"); }
footer#footer a.menu-map { background-image: url("../../img/icon-map-menu.svg"); }
footer#footer a.menu-search { background-image: url("../../img/icon-search-menu.svg"); }
footer#footer a.menu-facebook { background-image: url("../../img/icon-facebook-menu.svg"); }
footer#footer a.menu-instagram { background-image: url("../../img/icon-instagram-menu.svg"); }
footer#footer a.menu-linkedin { background-image: url("../../img/icon-linkedin-menu.svg"); }
footer#footer a.menu-youtube { background-image: url("../../img/icon-youtube-menu.svg"); }
footer#footer a.menu-rg { background-image: url("../../img/icon-rg-menu.svg"); }
footer#footer a.menu-phone:hover { background-image: url("../../img/icon-phone-menu-hover.svg"); }
footer#footer a.menu-map:hover { background-image: url("../../img/icon-map-menu-hover.svg"); }
footer#footer a.menu-search:hover { background-image: url("../../img/icon-search-menu-hover.svg"); }
footer#footer a.menu-facebook:hover { background-image: url("../../img/icon-facebook-menu-hover.svg"); }
footer#footer a.menu-instagram:hover { background-image: url("../../img/icon-instagram-menu-hover.svg"); }
footer#footer a.menu-linkedin:hover { background-image: url("../../img/icon-linkedin-menu-hover.svg"); }
footer#footer a.menu-youtube:hover { background-image: url("../../img/icon-youtube-menu-hover.svg"); }
footer#footer a.menu-rg:hover { background-image: url("../../img/icon-rg-menu-hover.svg"); }
/*-----------------------------------------------PAGE TEMPLATES--*/
.page-contents { padding: 50px 0; }
.page-contents img { min-width: 150px; min-height: 150px; }
img.alignleft { float: left; margin: 0 1.5em .75em 0; }
img.alignright { float: right; margin: 0 0 .75em 1.5em; }
img.aligncenter { display: block; margin: 1.5em auto; }
/*-----------------------------SIDEBARS--*/
.sidebar { width: 250px; }
.sidebar.left { float: left; margin-right: 50px; }
.sidebar.right { float: right; margin-left: 50px; }
.sidebar-page-contents {
  float: left;
  width: calc(100% - 300px);
}
/*--------------------------------FORMS--*/
form { background-color: #26304b; padding: 25px 50px; }
span.gfield_required { color: #fff !important; font-weight: 700 !important; }
form label {
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
  font-size: .875em !important;
  font-weight: 700 !important;
  letter-spacing: 2.33px;
  padding-left: 6px;
  text-transform: uppercase;
}
form span label {
  font-size: .75em !important;
  padding-left: 8px;
}
form li { 
  background-image: none !important; 
  margin-bottom: 5px !important;
  padding: 0; 
  position: relative;
}
form input, form select, form textarea {
  background-color: #1d2336;
  border-radius: 6px; 
  border: 2px solid #555555;
  color: #fff;
  outline: none;
  padding: 14px 6px !important;
  width: 100% !important;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
}
form select {
  background-image: url('../../img/icon-select-arrow.svg') !important;
  background-position: center right 6px;
  background-repeat: no-repeat;
  background-size: 20px;
  cursor: pointer;
  padding-right: 25px;
}
form input:focus { border-color: #696d79; }
form ul.gfield_radio, form ul.gfield_checkbox { padding-left: 40px !important; }
form ul.gfield_radio li { margin-bottom: 14px !important; }
form ul.gfield_checkbox li { margin-right: 1em !important; }
form input[type="radio"] {
  border-radius: 50% !important;
  padding: 6px !important;
}
form input[type="radio"]:checked {
  border-color: #1bb05c;
  background-color: #1bb05c;
}
form input[type="checkbox"] {
  border-radius: 2px !important;
  padding: 6px !important;
}
form input[type="checkbox"]:checked  {
  border-color: #1bb05c;
  background-color: #1bb05c;
}
form input[type="submit"] { 
  border-radius: 100px;
  cursor: pointer;
  font-size: 1em !important;
  padding: 8px 28px !important;   
  min-width: 200px;
  width: auto !important;
  text-transform: uppercase;
}
.gform_footer { text-align: center; }
.gform_wrapper .top_label li.gfield.gfield_error.gf_left_half { margin-right: 0; }
.gform_wrapper .gfield_error .gfield_label { color: #fff; }
.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
  margin: 16px 0 0 0 !important;
  padding: 0 16px 0 0 !important;
  background-color: transparent !important;
  border: none !important;
}
.gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), 
.gform_wrapper li.gfield_error textarea {
  border: 2px solid #b55c5e;
  margin-top: 8px;
}
.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container, .gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
  margin-top: 0 !important;
}
.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description,
.gform_wrapper .field_description_below .gfield_description {
  background-image: url("../../img/icon-form-invalid.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
  content: '';
  height: 45px;
  position: absolute;
  top: 34px;
  right: 15px;
  width: 45px;
  text-indent: -9999px;
  overflow: hidden;
  float: right;
}
.LV_valid_field { border: 2px solid #1bb05c; }
.LV_valid {
  display: block !important;
  background-image: url("../../img/icon-form-valid.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
  content: '';
  height: 45px;
  position: absolute;
  top: 34px;
  right: 15px;
  width: 45px;
  text-indent: -9999px;
  overflow: hidden;
  float: right;
}
.newsletter-signup { margin-top: -16px !important; }
.newsletter-signup label { display: none !important; }
.newsletter-signup ul.gfield_checkbox { padding-left: 0 !important; }
.newsletter-signup li label { display: inline-block !important; }
/*-----------------------------PAGE TOP--*/
.page-top .one-half { 
  float: left;
  margin: 0; 
  min-height: 600px; 
  padding: 50px 0;
  width: 50%; 
}
.page-top .page-info { background-color: #aebed0; position: relative; }
.page-top .page-info::after {
  background-image: url("../../img/pattern-bg.jpg");
  background-position: center center;
  bottom: 0;
  content: '';
  height: 75px;
  position:absolute;
  width: 100%;
}
.page-top .page-info .breadcrumbs,
.page-top .page-info .page-title {
  float: right;
  max-width: 600px;
  width: 100%;
}
.page-top .page-info .breadcrumbs a, 
.page-top .page-info .breadcrumbs span span { color: #1d2336; }
.page-top .page-info .breadcrumbs span { color: #ffffff; }
.page-top .page-info .page-title h1 {  
  border-bottom: 2px solid #ffffff;
  display: inline-block;
  line-height: 175%;
  padding-right: 50px;
}
.page-top .page-image {  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/*--------------------------LOGO SLIDER--*/
.logo-slider {
  background-image: url("../../img/pattern-bg.jpg");
  background-position: center center;
  padding: 75px 10px;
  height: 450px;
}
.logo-slider #flat { 
  overflow: hidden; 
  width: calc(100vw - 20px); 
  max-width: 1024px;
}
.logo-slider h2, .logo-slider p { text-align: center; }
.logo-slider h2 { margin: 0 0 16px 0; }
.logo-slider p {
  color: #1bb05c;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 3px;
}
.my-flipster { max-width: 950px; }
.my-flipster * {
  transition: none;
}
.my-flipster li { 
  padding: 0 20px; 
  background-image: none; 
  margin: 0; 
}
.flipster--flat .flipster__item--future .flipster__item__content,
.flipster--flat .flipster__item--past .flipster__item__content {
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}
.flipster--flat .flipster__item--past, .flipster--flat .flipster__item--future {
  opacity: 1 !important;
}
#infinite-logos * {
  transition: none; 
}
#infinite-logos *:focus { outline: none; }
#infinite-logos img { margin: 0 auto; }
.slick-initialized .slick-slide { display: table !important; min-height: 200px; width: auto; }
/*------------------------------GALLERY--*/
.fancybox-overlay, .fancybox-overlay * {
  transition: none; 
}
.gallery { background-color: #fff; padding: 40px 0; }
.gallery .gallery-cover { 
  margin: 0 auto; 
  max-width: 990px;
  overflow: hidden;
}
#gallery { overflow-x: visible !important; }
.gallery-hover {
  background-color: rgba(38, 47, 75, 0.5);
  background-image: url('../../img/icon-gallery-hover.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  bottom: 0;
  height: 0;
  left: 0;
  position:absolute;
  right: 0;
  transition: all .25s ease-in-out 0s; 
}
.gallery li:hover .gallery-hover { height: 100%; }
.flipster__item__content { position: relative; }
.flipster__button {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 25px 25px !important;
  width: 25px !important;
  height: 25px !important;
  margin: -1em 0 !important;
  outline: none !important;
  opacity: 1 !important;
}
.flipster__button--prev { background-image: url("../../img/icon-arrow-left.svg") !important; left: -20px !important; }
.flipster__button--next { background-image: url("../../img/icon-arrow-right.svg") !important; right: -20px !important; }
/*-------------------------WHITE PAPERS--*/
.white-papers-container { background: #fff; padding: 200px 0 100px 0; }
.white-papers { 
  background-color: #aebed0;
  padding: 25px 10px 25px 200px;
  position: relative;
}
.white-papers::before {
  background-image: url("../../img/whitepaper-robot.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  height: 200px;
  left: -96px;
  position: absolute;
  top: -125px;
  width: 300px;
}
.white-papers .one-half { margin: 0 1% 0 4%; width: 45%; }
.white-papers .one-half:first-child { margin: 0 4% 0 1%; }
.white-papers h2 { margin: 0; }
.white-papers a {
  color: #fff;
  display: table;
  font-family: 'Titillium Web', sans-serif;
  font-size: .875em;
  font-weight: 700;
  letter-spacing: 2.33px;
  margin-bottom: 8px;
  padding-right: 18px;
  text-decoration: none;
  text-transform: uppercase;
  background-image: url('../../img/icon-arrow-right-white-tri.svg');
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 12px 12px;
}
.white-papers .white-paper-icon {
  background-image: url('../../img/icon-whitepaper.svg');
  background-position: center;
  background-size: contain;
  bottom: 16px;
  height: 70px;
  left: 16px;
  position: absolute;
  width: 70px;
  background-color: #dae8f6;
  border-radius: 50%;
}
/*------------------------------------------------PAGE SPECIFIC--*/
/*---------------------------STYLEGUIDE--*/
.page-template-template-styleguide .main-nav { padding: 20px 0; height: auto;  }
.page-template-template-styleguide footer#footer #copyright { float: left; line-height: 43px; }
.page-template-template-styleguide footer#footer #created-e5 { float: right; text-decoration: none; }
#styleguide-sidebar nav li {  
  display: block; 
  margin-bottom: 8px; 
}
#styleguide-sidebar nav li a {
  padding: 8px 8px 8px 16px;
  width: 100%; 
}
.styleguide-container { position: relative; padding-top: 75px; }
.styleguide-section { position: relative; margin-top: 200px; }
.styleguide-section:first-child, .styleguide-section:first-child h2 { margin-top: 0; }
.styleguide-section h2 { margin-bottom: 50px; }
.styleguide-sub-section { position: relative; width: 100%; }
.styleguide-sub-section h3 { margin-top: 50px; }
.styleguide-anchor { 
  height:10px;
  position: absolute; 
  top: -125px; 
  width:200px;
}
.sub-section-nav { padding: 0 0 4px 0; }
.primary-logo .full-width {
  border: 1px solid #dedede;
  padding: 50px;
  text-align: center;
}
.primary-logo .full-width img { max-width: 75%; }
.varient-image {
  border: 1px solid #dedede;
  height: 350px;
  padding: 10px;
  width: 100%;
}
.varient-image .vertical-align { text-align: center; }
.varient-image .vertical-align img {
  max-height: 100%;
  max-width: 100%;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .varient-image .vertical-align img { width: 100%; }
}
.varient-description {
  border-top: none;
  border: 1px solid #dedede;
  height: 150px;
  margin-bottom: 20px;
  padding: 10px;
}
.varient-description p { margin: 0; }
.primary-colors .one-fourth, .secondary-colors .one-fourth { margin-bottom: 20px; }
.primary-colors .one-fourth .color-swatch, 
.secondary-colors .one-fourth .color-swatch { 
  border-bottom: 0;
  border: 1px solid #dedede;
  height: 125px; 
  margin: 0;
  width: 100%; 
}
.primary-colors .one-fourth .color-swatch-details, 
.secondary-colors .one-fourth .color-swatch-details {
  border: 1px solid #dedede;
  padding: 10px;
}
.primary-colors .one-fourth .color-swatch-details p:first-child b, 
.secondary-colors .one-fourth .color-swatch-details p:first-child b {
  color: #000;
}
.primary-colors .one-fourth p, .secondary-colors .one-fourth p { margin-bottom: 4px; }
.typeface .one-fourth {
  border: 1px solid #dedede;
  height: 130px;
  margin-bottom: 20px;
  text-align: center;
  width: 23%;
}
.typeface .one-fourth p { margin-bottom: 8px; }
.headline-option {  
  border-top: 2px solid #dedede;
  border-top: 2px solid #dedede;
  padding: 25px 8px;
}
.headline-option h1, .headline-option h2, .headline-option h3,
.headline-option h4, .headline-option h5, .headline-option h6,
.headline-option p, .headline-option .primary-button, 
.headline-option .primary-button:hover, 
.headline-option .secondary-button,
.headline-option .secondary-button:hover { 
  background: transparent !important;
  border-radius: 0 !important;
  border: none !important;
  margin: 0 !important;  
  padding: 0 !important;
}
.p-buttons .button-continer, .s-buttons .button-continer { padding: 25px; }
.desktop img, .mobile img { max-width: 100%; }
.icons-container .one-fourth {
  border: 1px solid #e1e1e1;
  display: table;
  height: 175px; 
  margin-bottom: 16px;
  padding: 10px;
}
.icons-container .icon-container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.icons-container img {  
  height: auto;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
  width: auto;
}
.patterns-container .full-width {
  border: 1px solid #e1e1e1;
  display: table;
  margin-bottom: 16px;
  padding: 10px;
}
.icons-container .pattern-container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.patterns-container img {  
  height: auto;
  width: 100%;
}
.charts-container { padding: 25px; }
.charts-container .one-third { padding: 20px; }
.charts-container .one-third .donut-inner {
  margin-bottom: 100px;
  margin-top: -190px;
  text-align: center;
}
.charts-container .one-third p { text-align: center; }
/*---------------------------------HOME--*/
.home-top { 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 70px);
  position: fixed;
  top: 70px;
  width: 100%;
  z-index: -1;
}
.home-top h1 { 
  color: #fff; 
  font-size: 5em;
  text-align: center; 
  max-width: 900px;
  margin: 0 auto;
}
.home-top .down-arrow-pulse {
  background-color: #1bb05c;
  border-radius: 50%;
  bottom: 55px;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  overflow: visible;
  position: absolute;
  width: 50px;
}
.home-top .down-arrow  {
  background-image: url("../../img/icon-select-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  bottom: 55px;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}
.home-top .above-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
  transition: all .5s linear 0s; 
}
.home-top .above-overlay.fadeOut { opacity: 0; }
.home-top .color-overlay {
  background-color: rgba(38, 47, 75, 0.8);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  background-image: url("../../img/landing-pattern.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: auto 40%;
}
.home-top .video-wrap {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}
.home-top .video-wrap video {
  height: auto;
  min-height: 100%;
  min-width: 100%;
  width: auto;
}
.slide-over-container { height: 200vh; }
.slide-one { width:100%;  height: 200vh; margin: 0 0 -100vh 0; }
.robot-preview .slide-one { margin-top: 100vh; }
.slide-two { width:100%;  height: 100vh; margin-bottom: 0; }
.slide .one-half { 
  height: 100%; 
  padding: 100px 0 150px 0;
  width: 50%;
  margin: 0; 
}
.slide-effect-2 { padding-top: 100vh; position: relative; }
.slide-effect-3 { padding-top: 100vh; position: relative; }
.sticky-slide-content { 
  padding: 0 50px;
  transition: none; 
}
#robot-videos { overflow: hidden; }
.robot-preview .content-right { padding: 0; }
.robot-preview .content-right .sticky-slide-content { 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 0;
  width: 100%;
}
.robot-preview  .robot-header {
  border-bottom: 2px solid #fff;
  color: #1d2336;
  display: inline-block;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 2.5;
  margin: 0 0 0 45px;
  padding-right: 75px;
  text-transform: uppercase;
}
.robot-preview .content-left .sticky-slide-content { max-width: 600px; float: right; }
.robot-preview .content-left { background-color: #aebed0; }
.robot-preview .content-left h2 { margin-left: 45px; }
.robot-preview .content-left .flipster__button--prev { left: 0 !important; top: 134px !important; }
.robot-preview .content-left .flipster__button--next { right: 0 !important; top: 134px !important; }
.robot-preview .content-left li { max-width: 450px; padding: 0 25px; }
.robot-preview .content-left li a { text-decoration: none; }
.robot-preview .content-left li img { width: 100%;margin-bottom: -5px; }
.robot-preview .content-left li h4 { 
  color: #1d2336;
  font-size: .875em; 
  font-weight: 700;
  letter-spacing: 2.33px;
  text-transform: uppercase; 
}
.robot-preview  .content-left li p { min-height: 100px; color: #fff; }
.robot-preview  .content-left .primary-button { margin: 0 0 0 45px; }
.video-screen-container { position: relative; }
.video-screen-container .dark-overlay { 
  background-color: rgba(38, 47, 75, 0.5);
  bottom: 0;
  left: 0;
  position: absolute; 
  right: 0; 
  top: 0;
  background-image: url("../../img/icon-play-white.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}
.insperational {
  background-image: url("../../img/pattern-bg.jpg");
  background-position: center center;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: none; 
}
.insperational .bubble {
  background-color: #1d2336;
  border-radius: 50%;
  height: 500px;
  left: 50%;
  margin: -250px 0 0 -250px;
  padding: 20px;
  position: absolute;
  top: 50%;
  width: 500px;
  transition: all .5s linear 0s; 
}
.insperational .bubble.fadeOut { opacity: 0; }
.insperational .insperational-quote { padding: 100px 50px; text-align: center; }
.insperational .insperational-quote  h2 { color: #fff; }
.insperational .bubble.left {
  left: -150px;
  margin: -250px 0 0 0;
  background-color: transparent;
  background-image: url("../../img/robot-hand-left.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.insperational .bubble.right {
  left: auto;
  right: -150px;
  margin: -250px 0 0 0;
  background-color: transparent;
  background-image: url("../../img/robot-hand-right.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.driverless-preview .content-left { padding: 0; }
.driverless-preview .content-left .sticky-slide-content { 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.driverless-preview .content-right .sticky-slide-content { max-width: 600px; }
.driverless-preview .driverless-header {
  border-bottom: 2px solid #1bb05c;
  color: #fff;
  display: inline-block;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 2.5;
  margin: 0 0 0 45px;
  padding-right: 75px;
  text-transform: uppercase;
}
#driverless-videos { overflow: hidden; }
.driverless-preview .content-right h2 { margin-left: 45px; }
.driverless-preview .content-right .flipster__button--prev { left: 0 !important; top: 134px !important; }
.driverless-preview .content-right .flipster__button--next { right: 0 !important; top: 134px !important; }
.driverless-preview .content-right li { max-width: 450px; padding: 0 25px; }
.driverless-preview .content-right li a { text-decoration: none; }
.driverless-preview .content-right li img { width: 100%; margin-bottom: -5px; }
.driverless-preview .content-right li h4 { 
  color: #1bb05c;
  font-size: .875em; 
  font-weight: 700;
  letter-spacing: 2.33px;
  text-transform: uppercase; 
}
.driverless-preview .content-right li p { min-height: 100px; }
.driverless-preview .content-right .primary-button { margin: 0 0 0 45px; }
.make-preview { 
  background-color: #fff; 
  height: 100vh; 
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: none; 
}
.make-preview .max-width {
  transition: all .5s linear 0s; 
}
.make-preview .max-width.fadeOut { opacity: 0; }
.make-preview .make-header {
  border-bottom: 2px solid #1bb05c;
  display: table;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 auto 50px auto;
  padding: 0 20px;
  text-transform: uppercase;
}
.make-preview .one-third a:first-child { display: block; position: relative; }
.make-preview .one-third a .dark-cover {  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .25);
}
.make-preview .one-third a .dark-cover::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url("../../img/icon-play-white.svg");
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: -25px;
  margin-top: -25px;
}
.make-preview .one-third img { width: 100%; margin-bottom: -5px; }
.make-preview .one-third p.product-title { 
  color: #1bb05c; 
  font-family: 'Titillium Web', sans-serif; 
  font-weight: 700; 
  letter-spacing: 2.33px;
  margin: 1em 0 .5em 0;
}
.make-preview .one-third p.product-description { min-height: 100px; }
.make-preview .one-third a.secondary-button { margin-left: 4px; }
.studies-preview .content-left { background-color: #1bb05c; padding-bottom: 200px; }
.studies-preview .content-left .sticky-slide-content { 
  max-width: 600px; 
  float: right; 
  padding: 0 25px 0 0;
  height: 500px;
}
.studies-preview .content-left .study-header { color: #26304b; border-color: #fff; }
.studies-preview .content-left .studies-preview-content {  
  height: 0px;
  overflow: visible;
}
.studies-preview .content-left h2, .studies-preview .content-left p { color: #fff; } 
.studies-preview .content-left img { width: 40px; height: 40px; }
.studies-preview .content-left h4 {
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.33px;
  margin: 1em 0;
  text-transform: uppercase;
}
.studies-preview .content-left a.secondary-button:hover { 
  background: #1d2336 !important; 
  border-color: #1d2336 !important; 
  color: #fff !important; 
}
.more-studies { 
  -webkit-transition: none;
  background-color: rgba(28, 35, 54, 0.71);
  bottom: 0;
  height: 200px;
  left: 0;
  padding: 30px 0;
  position: absolute; 
  transition: none; 
  width: 100%;
  z-index: 2;
}
.more-studies .max-width { height: 100%; }
.more-studies .study-small-preview {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  height: 100%;
  position: relative;
}
.more-studies .study-small-preview.selected::before {
  border-color: #1bb05c transparent;
  border-style: solid;
  border-width: 15px 15px 0;
  content: '';
  display: block;
  left: 50%;
  margin-left: -15px;
  position: absolute;
  top: -30px;
  width: 0;
  z-index: 1;
}
.more-studies .study-small-preview p {
  color: #fff;
  font-size: 1.125em;
  font-weight: 300;
  letter-spacing: 0.46px;
  font-family: 'Titillium Web', sans-serif;
  position: absolute;
  bottom: 0;
  margin: 0 0 5px 5px;
  z-index: 2;
}
.more-studies .study-small-preview .dark-cover { 
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0, 0, 0, 0)', endColorstr='rgba(191, 0, 0, 0)',GradientType=0 );
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.studies-preview .content-right { padding: 0; background: #26304B; position: relative; }
.studies-preview .content-right .sticky-slide-content { 
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.slide-effect-4 { padding-top: 450px; position: relative; }
.slide-effect-4  .logo-slider { 
  height: 450px; 
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: none; 
}
.slide-effect-4 .slide-over-container {  height: 100vh; }
.latest-posts .slide-one, .latest-posts .slide-two { height: 100vh; } 
.latest-posts .content-left { padding: 0; }
.latest-posts .content-left .sticky-slide-content { 
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%; 
}
.latest-posts .content-right .sticky-slide-content { max-width: 600px; }
.latest-posts .content-right .sticky-slide-content ul { margin-top: 50px; }
.latest-posts .content-right .sticky-slide-content li {
  background-position: right center;
  padding: 0 20px 0 0;
  margin-bottom: 1em;
}
.latest-posts .content-right .sticky-slide-content li a { text-decoration: none; }
.contact-preview { background: #fff; padding: 25px 0 0 0; }
.contact-preview .contact-header {
  border-bottom: 2px solid #1bb05c;
  display: table;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 25px auto 50px auto;
  padding: 0 20px;
  text-transform: uppercase;
}
.contact-preview form { background: transparent; padding: 0 50px; }
.contact-preview form label { display: none !important; }
.contact-preview form input, .contact-preview form textarea { 
  background-color: #dae8f6; 
  border-color: #dae8f6; 
  border-radius: 0;
  color: #26304B;
  padding: 6px !important;
}
.contact-preview ::-webkit-input-placeholder { color: #26304B; }
.contact-preview ::-moz-placeholder { color: #26304B; }
.contact-preview :-ms-input-placeholder { color: #26304B; }
.contact-preview :-moz-placeholder { color: #26304B; }
.contact-preview form input[type=submit] {
  background-image: url("../../img/icon-arrow-right.svg");
  background-position: center;
  background-size: cover;
  border-radius: 50% !important;
  float: right !important;
  height: 40px !important;
  margin: -128px 10px 0 0 !important;
  min-width: 0 !important;
  padding: 0 !important;
  position: relative !important;
  text-indent: 1000px !important;
  width: 40px !important;
  z-index: 2 !important;
}
.contact-preview ul { margin-top: 40px; }
.contact-preview li { 
  background-image: none; 
  padding: 0; 
  margin-bottom: 20px;
}
.contact-preview li a {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  display: inline-block;
  line-height: 50px;
  padding: 0 0 0 75px;
  text-decoration: none;
}
.contact-preview li a.address { background-image: url('../../img/icon-preview-map.svg'); }
.contact-preview li a.phone { background-image: url('../../img/icon-preview-phone.svg'); }
.contact-preview li a.fax { background-image: url('../../img/icon-preview-fax.svg'); }
.contact-preview li a.email { background-image: url('../../img/icon-preview-email.svg'); }
.contact-preview iframe { width: 100%; }
.contact-preview form #field_4_5 li label { color: #26304B; display: inline-block !important; }
.contact-preview .gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), 
.contact-preview .gform_wrapper li.gfield_error textarea {
  border: 2px solid #b55c5e !important;
  margin-top: 8px !important;
}
.contact-preview .LV_valid_field { border: 2px solid #1bb05c !important; }
.contact-preview .LV_valid { top: 4px; right: 9px;}
.contact-preview .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description, 
.contact-preview .gform_wrapper .field_description_below .gfield_description {
  top: 4px;
  right: 9px;
}
/*------------------------------LANDING--*/
.landing-top { 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 70px);
  min-height: 650px;
  width: 100%;
}
.landing-top h1, .landing-top h2, .landing-top h3, 
.landing-top h4, .landing-top h5, .landing-top h6, 
.landing-top p { color: #fff; }
.landing-top h1 { margin-top: 0; }
.landing-top h2 { font-size: 3.5em; }
.landing-top hr {
  max-width: 300px;
  margin: 25px auto;
}
.landing-top .down-arrow-pulse {
  background-color: #1bb05c;
  border-radius: 50%;
  bottom: 55px;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  overflow: visible;
  position: absolute;
  width: 50px;
}
.landing-top .down-arrow  {
  background-image: url("../../img/icon-select-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  bottom: 55px;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}
.landing-top .above-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}
.landing-top .color-overlay {
  background-color: rgba(38, 47, 75, 0.8);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  background-image: url("../../img/landing-pattern.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: auto 40%;
}
.landing-top .video-wrap {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}
.landing-top .video-wrap video {
  height: auto;
  min-height: 100%;
  min-width: 100%;
  width: auto;
}
.landing-contents .one-half { 
  background-color: #aebed0; 
  min-height: calc(100vh - 70px); 
  width: 50%;
  margin: 0;
}
.landing-content-title { 
  text-align: center; 
  margin: 0 auto; 
  padding: 50px 0;
  position: relative;
}
.landing-content-title::after {
  border-color: #FFFFFF transparent;
  border-style: solid;
  border-width: 15px 15px 0;
  bottom: -15px;
  content: '';
  display: block;
  left: 50%;
  margin-left: -15px;
  position: absolute;
  width: 0;
  z-index: 1;
} 
.landing-content { margin: 0 auto; max-width: 400px; }
.landing-content hr { 
  background: #fff; 
  max-width: 300px; 
  margin: 25px auto 50px 0;
}
.landing-content li { margin-bottom: 16px; }
.landing-image { 
  height: calc(50vh - 35px); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.page-template-template-landing .load-more-section, 
.page-template-template-landing .load-more-section.loading {
  padding: 0 0 100px 0 !important;
}
/*---------------------------WHO WE ARE--*/
.page-id-38 .page-top h1 {  
  color: #1d2336;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 3px;
  margin-top: 50px;
  text-transform: uppercase;
}
.page-id-38 .page-top h2 { font-size: 3.5em; max-width: 500px; margin-top: 0; }
.leader-intro-container {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 834px;
  position: relative;
}
.leader-intro {
  background-color: #1d2336;
  border-radius: 50%;
  height: 650px;
  padding: 20px;
  width: 650px;
  margin: 100px auto 0 auto;
}
.leader-intro h2 { margin-top: 0; }
.leader-intro p, .leader-intro h2 { color: #fff; text-align: center; }
.green-border {
  border-radius: 50%;
  border: 3px solid #1bb05c;
  height: 100%;
  padding: 110px 75px;
  width: 100%;
}
.vision { height: 100vh; }
.vision h2 { 
  line-height: 300%;
  margin: 0;
  position: relative;
  text-align: center; 
}
.vision h2::after {
  border-color: #FFFFFF transparent;
  border-style: solid;
  border-width: 15px 15px 0;
  bottom: -15px;
  content: '';
  display: block;
  left: 50%;
  margin-left: -15px;
  position: absolute;
  width: 0;
  z-index: 1;
}
.vision .one-half { 
  background-position: center center; 
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0; 
  width: 50%; 
}
.vision-content { max-width: 600px; padding-top: 100px; }
.vision-content.left { float: left; padding-left: 100px; }
.vision-content.right { float: right; padding-right: 100px; }
.vision-content h1, .vision-content h2, .vision-content h3, 
.vision-content h4, .vision-content h5, .vision-content h6, 
.vision-content p, .vision-content a { color: #fff; }
/*---------------------------WHAT WE DO--*/
.service-section { position: relative; }
.service-section .one-half { width: 50%; margin: 0; min-height: 100vh; }
.service-image {     
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color:  #1bb05c;
  height: 100vh;
}
.service-content-container { padding: 50px 100px; }
.service-content { max-width: 600px; float: left; }
.service-content img { width: 150px; }
.service-icon { max-width: 150px; max-height: 150px; }
.service-header {
  border-bottom: 2px solid #1bb05c;
  color: #fff;
  display: inline-block;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 3px;
  padding-right: 75px;
}
.dual-service-section {
  background-image: url("../../img/pattern-bg.jpg");
  background-position: center center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
  width: 100%;
}
.dual-service-section .service-section { width: 50%; float: left; }
.dual-service-section .service-content-container { padding: 50px; }
.dual-service-section .service-content { padding: 50px; height: 100%; margin-left: 25px; }
.dual-service-section .service-content.right { float: right; margin-right: 25px; margin-left: 0; }
.dual-service-section .service-icon { margin: 0 auto; display: table; }
.dual-service-section h2 { text-align: center; }
.page-id-341 .page-contents { max-width: 950px; }
/*-------------------------WHAT WE MAKE--*/
.product-container { width: 100%; }
.product-container .one-half { 
  min-height: 100vh; 
  margin: 0; 
  padding: 50px 100px;
  width: 50%; 
} 
.product-container .one-half.ROBOTICS { background-color: #1d2336; }
.product-container .one-half.AUTOMOTIVE { background-color: #aebed0; }
.product-container .one-half.ROBOTICS p, .product-container .one-half.ROBOTICS h2 { color: #fff; }
.product-container:nth-child(even) .product-image { float: right; }
.product-container:nth-child(even) .product-content { float: right; }
.product-content { max-width: 600px; }
.product-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.product-header { 
  border-bottom: 2px solid #fff;
  color: #1d2336;
  display: inline-block;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 0;
  line-height: 225%;
  margin: 0;
  min-width: 30%;
}
.ROBOTICS .product-header { border-bottom: 2px solid #1bb05c; } 
/*------------------------------CONTACT--*/
.page-id-345 main.full-width { background-color: #26304b; }
.page-title a {  
  color: #1d2336;
  font-family: 'Titillium Web', sans-serif;
  font-size: .875em;
  font-weight: 700;
  letter-spacing: 2.33px;
  text-decoration: none;
  padding-left: 40px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 14px 14px;
}
.page-title a.phone { background-image: url("../../img/icon-phone-menu-hover.svg"); }
.page-title a.fax { background-image: url("../../img/icon-fax.svg"); }
/*------------------------------CAREERS--*/
.page-id-357 main.full-width, .parent-pageid-357 main.full-width { background-color: #26304b; }
.page-id-357 main.full-width .page-contents p, .parent-pageid-357 main.full-width .page-contents p { color: #fff; }
.background-image-content  {  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 0;
}
.background-image-content .max-width { max-width: 900px; }
#field_3_6 label {
  background-color: #95a7bb;
  border-radius: 6px;
  color: #1d2336;
  font-size: 1em !important;
  font-weight: 700 !Important;
  letter-spacing: 2.67px;
  padding: 14px 24px !important;
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  position: relative;
  margin-top: 34px;
}
#field_3_6 label::before {
  content: 'RESUME';
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
  font-size: .875em !important;
  font-weight: 700 !important;
  letter-spacing: 2.33px;
  padding-left: 6px;
  text-transform: uppercase;
  position: absolute;
  top: -26px;
  left: 0;
}
#field_3_6 .ginput_container_fileupload {
  display: inline-block;
  width: calc(100% - 272px);
  width: calc(100% - 272px);
}
#field_3_6 .ginput_container_fileupload #extensions_message { 
  color: #fff;
  display: inline-block;
  max-height: 24px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  top: 6px;
}
#field_3_6 .ginput_container_fileupload #input_3_6 { display: none !important; }
.mobile-openings { display: none; }
.openings { padding: 25px 25px 50px 25px; }
.openings h2 { color: #fff; text-align: center; margin: 0 0 25px 0; }
.openings p { text-align: center; }
table#jobs-table {
  background-color: #fff;
  border-collapse: collapse;
  border-radius: 6px;
  border-spacing: 0;
  box-shadow: 3px 5.2px 16px rgba(0, 0, 0, 0.08);
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
  width: 90%;
}
table#jobs-table thead {
  background-color: #1BB05C;
  border-radius: 6px;
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1em !important;
  font-weight: 700 !important;
}
table#jobs-table thead tr th, table#jobs-table thead tr th:focus { 
  border: none; 
  padding: 16px 24px; 
  background-image: url("../../img/icon-sort.svg");
  background-position: center right 24px;
  text-align: left;
  outline: none;
}
table#jobs-table thead tr th.tablesorter-headerDesc {
  background-image: url("../../img/icon-sort-down.svg");
}
table#jobs-table thead tr th.tablesorter-headerAsc {
  background-image: url("../../img/icon-sort-up.svg");
}
table#jobs-table tbody tr:nth-child(2n) { background-color: #ebebee; }
table#jobs-table tbody td { padding: 16px 24px; }
table#jobs-table tbody td a { text-decoration: none; color: #000; }
table#jobs-table tbody td p.legal-text { color: #1BB05C; margin: 0; text-align: left; }
.job-details span { margin: 0 16px; }
.job-infos .one-half { padding: 0 16px 0 0; }
.job-infos .one-half:last-child { padding: 0 0 0 16px; }
.apply-btn { float: right; padding: 4px 18px; }
/*------------------------BLOG/ARCHIEVE--*/
.secondary-nav h2, .secondary-nav ul { text-align: center; }
.secondary-nav li { display: table; margin: 0 auto; }
.secondary-nav li a { border-radius: 100px; padding: 4px 20px; }
.secondary-nav li a:hover { background-color: #1bb05c; }
.alm-listing {
  -webkit-flex-wrap: wrap; 
  display: -webkit-flex;
  display: -webkit-flex; 
  display: -ms-flexbox; 
  display: flex;  
  -webkit-flex-wrap: wrap;  
      -ms-flex-wrap: wrap;  
          flex-wrap: wrap;
}
.alm-listing::after {
  clear: both;
  content: "."; 
  display: block; 
  height: 0; 
  visibility: hidden; 
}
.load-more-section, .load-more-section.loading {
  background: transparent !important;
  color: transparent  !important;
  padding: 50px 0 200px 0 !important;
  outline: none !important;
}
.load-more-section:before, .load-more-section.loading:before {
  color: #26304b !important;
  content: "Want to see more?" !important;
  display: block !important;
  font-family: 'Titillium Web', sans-serif !important;
  font-size: 3em !important;
  font-weight: 400 !important;
  letter-spacing: 0px !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  height: 50px !important;
  background: transparent !important;
  position: static !important;
  position: static !important;
  position: static !important;
  position: static !important;
  position: initial !important;
}
.load-more-section:after {
  background-color: #1BB05C;
  border-radius: 100px;
  border: 2px solid #1BB05C;
  color: #26304b;
  content: "Load More Posts";
  cursor: pointer;
  display: table;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1;
  margin: 0 auto;
  min-width: 200px;
  outline: none;
  padding: 16px 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.load-more-section:hover:after { 
  background-color: #16DD6D; 
  border-color: #16DD6D; 
}
.alm-btn-wrap { padding: 0 !important; }
button.alm-load-more-btn.done { display: none; }
/*--POSTS--*/
.blog { margin-top: 50px; }
.post-preview { 
  margin-bottom: 24px; 
  padding: 30px;
  position: relative; 
}
.post-preview .link-cover { 
  position: absolute;  
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.post-preview .post-top-half {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 300px;
}
.post-preview .post-category {
  background-color: #1bb05c;
  border-radius: 100px;
  color: #1d2336;
  font-family: 'Titillium Web', sans-serif;
  font-size: .875em;
  font-weight: 700;
  left: -16px;
  letter-spacing: 3px;
  padding: 4px 20px;
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
  top: 16px;
}
.post-preview img { max-width: 100%; height: auto; }
.post-preview h2 {     
  text-align: center;
  font-size: 1.75em;
  min-height: 115px; 
}
.post-preview p { min-height: 150px; }
.post-preview .secondary-button { margin: 0 auto; display: table; }
article:hover .secondary-button { background-color: #1bb05c !important; border: 2px solid #1bb05c !important; }
/*--CASE STUDY--*/
.case-study .one-half { width: 50%; margin: 0; }
.case-study:nth-child(even) .study-image { float: right; }
.study-header {
  border-bottom: 2px solid #1bb05c;
  color: #fff;
  display: inline-block;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 2.5;
  margin: 0;
  padding-right: 75px;
  text-transform: uppercase;
}
.case-study .study-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.case-study .study-content-container { padding: 50px 100px; }
.case-study .study-content { max-width: 600px; float: left; }
.case-study .study-content img { 
  margin-top: 1em;
  max-width: 50px; 
  max-height: 50px; 
}
.case-study .study-content h2 { margin: 1em 0; }
.case-study .study-content h4 {
  color: #1bb05c;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 2.67px;
  margin: 1em 0;
  text-transform: uppercase;
}
.case-study .study-content a.primary-button { margin-top: 1em; }
/*--CLIENTS--*/
.client-posts {
  background-image: url("../../img/pattern-bg.jpg");
  background-position: center center;
  padding: 10px;
}
.client-posts  h2 { text-align: center; }
.client-post {
  background: #fff;
  margin: 0 auto 25px auto;
  max-width: 1024px;
}
.client-post p { min-height: 0; }
.client-post h4 {
  font-size: .875em;
  font-weight: 700;
  letter-spacing: 2.33px;
  margin-top: 0;
}
.page-template-template-landing button.alm-load-more-btn:before, 
.page-template-template-landing button.alm-load-more-btn.done:before,
.page-template-template-landing .contact-preview iframe { display: none !important; }
/*--RESOURCES--*/
.post-type-archive-resources .secondary-nav li:last-child a { padding-right: 30px; }
.post-type-archive-resources .secondary-nav li:last-child a::after,
.category-videos .secondary-nav li:last-child a::after,
.category-product-spec-sheets li:last-child a::after {
  background-image: url("../../img/icon-external-link.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 14px;
  content: '';
  height: 14px;
  margin-left: 4px;
  margin-top: 2px;
  position: absolute;
  width: 14px;
}
/*--------------------------SINGLE POST--*/
/*--POST--*/
.post-top { height: 600px; }
.post-top .page-image { height: 100%; }
.post-top .breadcrumbs { padding-top: 100px; }
.post-top .breadcrumbs p, .post-top .breadcrumbs a { color: #fff; }
.singe-post {  
  margin-top: -200px;
  background: #fff;
  padding: 50px 75px;
  position: relative;
}
.single-post .back-to-news {
  background-image: url("../../img/icon-arrow-left.svg");
  background-position: left 5px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  color: #1d2336;
  float: left;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  letter-spacing: 2.33px;
  padding: 0 16px 0 35px;
  text-decoration: none;
  overflow: visible;
}
.single-post .back-to-news:hover { background-position: left center; }
.single-post .post-category ul { text-align: right; }
.single-post .post-category li { 
  background-color: #1bb05c;
  background-image: none;
  border-radius: 100px;
  display: inline-block; 
  padding: 4px 20px;
}
.single-post .post-category li:hover {
  background-color: #16DD6D;
}
.single-post .post-category a {
  color: #1d2336; 
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}
.post-nav {
  background-color: #aebed0;
  padding: 75px 0;
}
.post-nav .one-half { min-height: 1px; }
.post-nav a {
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  color: #26304b;
  font-family: 'Titillium Web', sans-serif;
  font-size: 2em;
  font-weight: 300;
  height: 100px;
  line-height: 100px;
  max-width: 600px;
  text-decoration: none;
  width: 100%;
}
.post-nav .previous a { 
  background-image: url("../../img/icon-arrow-left.svg");
  background-position: left 35px center;
  float: right; 
  padding: 0 10px 0 75px; 
}
.post-nav .previous a:hover { background-position: left 30px center; }
.post-nav .next a { 
  background-image: url("../../img/icon-arrow-right.svg");
  background-position: right 35px center;
  float: left; 
  padding: 0 75px 0 10px; 
  text-align: right;
}
.post-nav .next a:hover { background-position: right 30px center; }
.addtoany_share_save_container { 
  margin-top: 75px;
  padding-top: 50px;
  position: relative;
  text-align: center;
}
.addtoany_share_save_container::before {
  content: '';
  position: absolute;
  top: 0;
  width: 200px;
  height: 2px;
  background-color: #aebed0;
  left: 50%;
  margin-left: -100px;
}
.addtoany_header {
  color: #26304b;
  font-family: 'Titillium Web', sans-serif;
  font-size: 2em;
  font-weight: 300;
}
.addtoany_list.a2a_kit_size_32 a > span { 
  background-size: contain !important; 
  height: 50px !important; 
  width: 50px !important;
}
.a2a_svg { background: transparent !important; }
.a2a_svg svg { display: none !important; }
.a2a_s_facebook { background-image: url("../../img/share-facebook.svg") !important; }
.a2a_s_linkedin { background-image: url("../../img/share-linkedin.svg") !important; }
.a2a_s_twitter { background-image: url("../../img/share-twitter.svg") !important; }
.a2a_s_email { background-image: url("../../img/share-email.svg") !important; }
.a2a_s_print { background-image: url("../../img/share-print.svg") !important; }
/*-----------------------SEARCH RESULTS--*/
.search-feed h1 span { color: #1BB05C; }
.search-result .search-result-image {  
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.search-result .search-result-content {
  min-height: 125px; margin-bottom: 25px;
}
.search-result .search-result-content p { min-height: 0; margin: 0; }
.navigation.pagination .screen-reader-text { display: none; }
.navigation.pagination .nav-links { text-align: center; padding: 25px 0; }
.navigation.pagination .nav-links a { padding: 4px; }
.no-results form { 
  padding: 50px 25px;
  text-align: left;
  width: 100%;
  margin-bottom: 100px;
}
.no-results form label { font-family: 'Muli', sans-serif; }
.no-results form input { 
  padding: 8px !important;
  width: calc(100% - 255px);
}
.no-results form button {
  border-radius: 100px;
  border: none;
  cursor: pointer;
  font-family: 'Titillium Web', sans-serif;
  font-size: .875em;
  font-size: 1em !important;
  letter-spacing: 3px;
  padding: 4px 28px !important;
  text-transform: uppercase;
}
.search-no-results main.full-width {
  min-height: calc(100vh - 191px);
  padding: 1px;
}
/*----------------------------404 ERROR--*/
.error404 .white-papers { padding: 25px 50px; }
.error404 h1 { margin-bottom: 0; }
.error404 form { background: transparent; padding: 25px 0; }
.error404 form label { color: #26304b; }
.error404 form input {
  padding: 8px !important;
  width: calc(100% - 240px);
}
.error404 form button {
  border-radius: 100px;
  border: none;
  cursor: pointer;
  font-family: 'Titillium Web', sans-serif;
  font-size: .875em;
  font-size: 1em !important;
  letter-spacing: 3px;
  padding: 4px 28px !important;
  text-transform: uppercase;
}
.error404 main.full-width {
  min-height: calc(100vh - 191px);
  padding: 1px;
}
/*--------------------------------RESPONSIVNESS BREAKING POINTS--*/
/*----------- SMALL DESKTOPS & LAPTOPS --*/
@media only screen and (max-width: 1200px) { 
  /*--BASICS--*/
  .max-width { padding-left: 10px; padding-right: 10px; }
  /*--HEADER--*/
  .main-nav .header-left-container .header-left {
    padding-left: 10px;
  }
  .main-nav .header-right-container .header-right,
  .main-nav .header-right-container .top-bar {
    padding-right: 10px;
  }
  .search-bar form { width: 100%; }
  .search-bar .search-bar-icon { top: 70px; }
  /*--PAGE TEMPALTE--*/
  .page-top .page-info .breadcrumbs, .page-top .page-info .page-title { padding-left: 10px; }
  #infinite-logos { max-width: 1024px; }
  .white-papers { width: 1024px; margin: 0 auto; }
  /*--PAGE SPECIFIC--*/
  .vision-content.right, .vision-content.left {
    padding: 100px 25px 25px 25px;
  }
  .dual-service-section {
    padding-left: 10px;
    padding-right: 10px;
  }
  .single-post article.singe-post {
    margin-left: 25px;
    margin-right: 25px;
  }
  .insperational .bubble.left { left: -250px; }
  .insperational .bubble.right { right: -250px; }
  .studies-preview .content-left .sticky-slide-content { padding: 0 25px; }
}
/*------------------ LANDSCAPE TABLETS --*/
@media only screen and (max-width: 1024px) { 
  /*--HEADER--*/
  .main-menu.open { overflow: scroll; }
  /*--PAGE TEMPLATE--*/
  .page-top .one-half { min-height: 400px; }
  .page-top .page-info .page-title h1 { margin: 0 10px 0 0; }
  .page-top .page-info::after { height: 50px; }
  .white-papers { max-width: 800px; padding-left: 175px; }
  .white-papers .one-half { width: 100%; margin: 0; }
  .white-papers a {
    display: block;
    margin-bottom: 16px;
    text-align: left;
  }
  .contact-preview form input[type=submit] { margin: -128px 25px 0 0 !important; }
  #infinite-logos { max-width: 800px; }
  /*--STYLEGUIDE--*/
  .varient-description { height: 200PX; }
  .color-swatch-details p:first-child { height: 50px; }
  /*--PAGE SPECIFIC--*/
  .page-id-38 .page-top h2 { font-size: 2.5em; margin-top: 25px; }
  .service-content-container { padding: 50px 25px; }
  .case-study .study-content-container { padding: 50px 25px; }
  .robot-preview .content-left h2, .robot-preview .content-left h2,
  .studies-preview .content-left h2 { margin-top: 20px; }
  .studies-preview .content-left p { margin-bottom: .5em; }
  .sticky-slide-content { padding: 0 25px; }
}
/*------------------- PORTRAIT TABLETS --*/
@media only screen and (max-width: 800px) { 
  /*--BASICS--*/
  .one-fourth { width: 48%; }
  .three-fourth { float: none; width: 100%; margin: 0; }
  form { padding: 25px; }
  .flipster__button--next { right: 10px !important; }
  .flipster__button--prev { left: 10px !important; }
  /*--HEADER--*/
  .main-nav .one-half { width: 100%; }
  .main-nav .one-half:last-child { display: none; }
  .main-nav .header-left-container .header-left {
    padding-left: 20px;
    max-width: 100%;
  }
  .main-nav .header-left-container .main-menu-icon { background-color: #1bb05c; }
  .main-menu.open { overflow: scroll; }
  .main-menu a.one-fourth { width: 23%; margin: 0 1%; }
  .main-menu a.one-third { width: 31%; margin: 0 1%; }
  /*--FOOTER--*/
  footer#footer .clearfix { text-align: center; }
  footer#footer .full-width .clearfix:nth-child(2) {
    margin-top: 50px;
    max-width: 100%;
  }
  /*--PAGE TEMPLATES--*/
  .csColumn { text-align: left !important; }
  .breadcrumbs p { margin-bottom: 3em; }
  .page-top .one-half { padding: 25px 0; }
  .page-top .page-info .page-title h1 { line-height: 125%; } 
  .white-papers { 
    max-width: 450px;
    padding: 125px 25px 25px 25px;
    text-align: center;
  }
  .white-papers .one-half { width: 100%; margin: 0; }
  .white-papers a { display: block; margin-bottom: 16px; text-align: left; }
  .white-papers::before { left: 50%; margin-left: -175px; }
  .white-papers .white-paper-icon {  
    left: 50%;
    margin-left: -35px;
    bottom: auto;
    top: 50px;
  }
  .contact-preview .one-half { 
    width: 100%; 
    max-width: 500px; 
    margin: 0 auto;
    float: none; 
  }
  #infinite-logos { max-width: 750px; }
  /*--PAGE SPECIFIC--*/
  /*STYLEGUIDE*/
  .styleguide-container .one-half { width: 100%; }
  .varient-description { height: auto; }
  .color-swatch-details p:first-child { height: auto; }
  .sub-section-nav li { padding: 20px 0; }
  .button-continer .primary-button, 
  .button-continer .secondary-button { margin-bottom: 20px; }
  #styleguide-sidebar { width: 150px; }
  #styleguide-contents {
    width: calc(100% - 200px) 
  }
  /*--PAGE SPECIFIC--*/
  .vision { height: auto; }
  .vision .one-half { width: 100%; height: auto; }
  .vision-content.right, .vision-content.left { float: none; max-width: 100%; }
  .service-section .one-half.service-image { width: 30%; float: left; }
  .service-section .one-half.service-content-container { width: 70%; float: left; }
  .dual-service-section { display: block; }
  .dual-service-section .service-section { width: 100%; }
  .dual-service-section .service-content { max-width: 100%; margin: 0 auto 25px auto !important; }
  .landing-contents .one-half.vertical-align-parent { width: 70%; float: left; }
  .landing-contents .one-half { width: 30%; float: left; }
  .product-container .one-half { padding: 25px; }
  .product-container .one-half.product-image { width: 30%; float: left; }
  .product-container .one-half.vertical-align-parent { width: 70%; float: left; }
  .case-study .study-image { width: 30%; float: left; }
  .case-study .study-content-container { width: 70%; float: left; }
  .home-top h1 { font-size: 4em; }
  .post-preview { width: 100%; margin: 0 auto 25px auto; float: none; max-width: 450px; }
  .robot-preview .content-left, .driverless-preview .content-right,
  .studies-preview .content-left, .latest-posts .content-right { width: 60%; float: left; }
  .robot-preview .content-right, .driverless-preview .content-left,
  .studies-preview .content-right, .latest-posts .content-left { width: 40%; float: left; }
  .insperational .bubble.right { z-index: 1; }
  .insperational .bubble { z-index: 3; }
  .driverless-preview { z-index: 5; }
  .more-studies .study-small-preview { width: 23%; }

}
/*------------------- LANDSCAPE PHONES --*/
@media only screen and (max-width: 750px) { 
  /*--BASICS--*/
  .one-half, .one-third, .two-third,
  .one-fourth, .three-fourth {
    float: none;
    width: 100%; 
    margin: 0; 
  }
  /*--HEADER--*/
  #sticky-nav { position: fixed; top: 0; }
  .page-top { margin-top: 80px; }
  /*--PAGE TEMPLATES--*/
  .page-contents img.alignleft, .page-contents img.alignright, 
  .page-contents img.aligncenter { 
    float: none; 
    height: auto; 
    margin: .75em auto; 
    max-width: 100%; 
  }
  .sidebar, #styleguide-sidebar { 
    width: 100%; 
    margin: 50px 0; 
    position: static !important; 
    position: static !important; 
    position: static !important; 
    position: static !important; 
    position: initial !important;
  }
  .sidebar-page-contents, #styleguide-contents { width: 100%; }
  #infinite-logos { max-width: 400px; }
  /*--PAGE SPECIFIC--*/
  /*STYLEGUIDE*/
  #styleguide-sidebar nav { text-align: center; }
  #styleguide-sidebar nav li { display: inline-block; }
  #styleguide-sidebar nav li a {
    background: #a8a8a8;
    border-radius: 8px;
    border: 2px solid #a8a8a8;
    display: inline-block;
    font-weight: 800;
    margin: 0 0 0 0;
    padding: 3px 5px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .landing-contents .one-half { width: 100%; min-height: 0; }
  .landing-contents .one-half.vertical-align-parent { width: 100%; }
  .landing-contents .one-half .landing-image { width: 50%; float: left; }
  .load-more-section::after { min-width: 0; }
  .post-preview { margin: 0 auto 25px auto; }
  .post-nav .one-half { width: 48%; float: left; margin: 0 1%; }
  .home-top .down-arrow-pulse, .home-top .down-arrow { bottom: 14px; }
  .robot-preview .content-left, .driverless-preview .content-right,
  .studies-preview .content-left, .latest-posts .content-right,
  .robot-preview .content-right, .driverless-preview .content-left,
  .studies-preview .content-right, .latest-posts .content-left { width: 100%; float: none; }
  .home-top { min-height: 500px; height: 100vh; position: relative; margin-top: 0; }
  .home-top video, .landing-top video { display: none; }
  .slide, .slide-over-container { margin: 0 !important; height: auto !important; }
  .sticky-slide-content { float: none !important; max-width: 100% !important; }
  .slide-effect-2, .slide-effect-3, .slide-effect-4 { padding-top: 0; }
  #robot-videos, #driverless-videos { max-width: 500px; }
  .insperational, .make-preview, .slide-effect-4 .logo-slider { height: auto; position: static; position: static; position: static; position: static; position: initial; }
  .insperational { height: 100vh;  min-height: 600px; position: relative; overflow: hidden; }
  .insperational .bubble { width: 400px; height: 400px; margin: -200px 0 0 -200px; }
  .insperational .insperational-quote { padding: 50px; }
  .insperational .bubble.left { left: 50%; top: 0; margin: -150px 0 0 -200px; }
  .insperational .bubble.right { left: 50%; bottom: 0; margin: auto auto -150px -200px; }
  .make-preview .make-header { margin-top: 25px; }
  .make-preview .one-third { max-width: 450px; margin: 0 auto 25px auto; }
  .studies-preview .content-left { min-height: 550px; padding: 50px 0; }
  .studies-preview .content-right { display: none; }
  .more-studies { 
    height: auto;
    position: inherit;
    background: #1bb05c;
  }
  .more-studies .study-small-preview {     
    width: 100%;
    margin: 0 0 10px 0;
    float: none;
    height: 100px;
  }
  .more-studies .study-small-preview::before { display: none !important; }
  .latest-posts .content-left .sticky-slide-content { display: none; }
  .contact-preview li:first-child a { line-height: 25px; min-height: 50px; }
  #jobs-table { display: none; }
  .mobile-openings { 
    display: block; 
    padding: 0 20px;
  }
  .mobile-openings .position { background: #fff; margin-bottom: 20px; }
  .mobile-openings .position:nth-child(even) { background: #d8d8d8; }
  .mobile-openings .position p { 
    color: #26304b !important; 
    border-bottom: 1px solid #636363; 
    padding: 10px 5px;
    margin: 0 5px;
  }
  .mobile-openings .position p:last-child { border: none; }
  .mobile-openings .position p span { color: #1BB05C; }
  .mobile-openings .position a { text-decoration: none; }
  .job-infos .one-half, .job-infos .one-half:last-child { padding: 0; }
}
/*-------------------- PORTRAIT PHONES --*/
@media only screen and (max-width: 500px) { 
  /*--BASICS--*/
  html, body { font-size: 14px !important; }
  h2, .widget h2 { font-size: 2.25em !important; }
  /*--HEADER--*/
  .search-bar.activated { max-height: 150px; }
  .search-bar form { padding: 25px 10px; text-align: left; }
  .search-bar form input {
    width: calc(100% - 115px);
  }
  .search-bar form button { margin-top: 10px; }
  .search-bar.activated { padding-bottom: 0; }
  /*--FOOTER--*/
  footer#footer #copyright { display: block; margin-top: 20px; }
  footer#footer #copyright a { display: block; margin: 20px 0; }
  /*--PAGE TEMPLATE--*/
  .page-top { position: relative; }
  .page-top .page-info {     
    background: rgba( 174, 190, 208, .75);
    position: relative;
    width: 100%;
    z-index: 2;
  }
  .page-top .page-image {
    position: absolute;
    top: 0;
    width: 100%;
  }
  .white-papers { width: 350px; }
  #infinite-logos { max-width: 350px; }
  /*--PAGE SPECIFIC--*/
 
  .contact-preview form input[type=submit] { margin: -128px 8px 0 0 !important; }
  .home-top h1 { font-size: 3em; }
  .leader-intro-container { height: auto; min-height: 0; }
  .leader-intro {
    width: 100%;
    height: auto;
    border-radius: 0;
    margin: 0;
    position: static;
    position: static;
    position: static;
    position: static;
    position: initial;
  }
  .green-border {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
  }
  .service-section .one-half.service-image { display: none; }
  .service-section .one-half.service-content-container {
    width: calc(100% - 20px);
    margin: 25px 10px;
  }
  .dual-service-section { background: transparent; padding: 0 10px; }
  .dual-service-section .service-content { margin: 25px 0; }
  .dual-service-section .service-section:last-child .service-content { margin-bottom: 0 !important; }
  .landing-top { height: calc(100vh - 125px); top: -30px; }
  .landing-top .color-overlay { background-image: none; } 
  .product-container .one-half.product-image { width: 100%; min-height: 200px; }
  .product-container .one-half.vertical-align-parent { width: 100%; }
  .case-study .study-image { width: 100%; height: 200px; }
  .case-study .study-content-container { width: 100%; }
  .single-post article.singe-post { padding-top: 10px; }
  .single-post .back-to-news { margin-bottom: 50px; }
  .single-post .post-category ul { text-align: center; }
  .post-nav a { font-size: 1em; }
}
@media only screen and (max-width: 400px) { 
    /*--HEADER--*/
  .main-menu a {
    background-size: 14px 14px;
    height: 30px;
  }
}



/*---INVESTORS LANDING PAGE 2/21---*/
.page-id-685 .page-top .page-info .page-title h1 {
  line-height: 1;
  border: none;
  position: relative;
  padding-bottom: 75px;
}
.page-id-685 .page-top .page-info .page-title h1 span {
  display: block;
  font-size: 24px;
  font-size: 24px;
  font-size: 24px;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 2;
}
.page-id-685 .page-top .page-info .page-title h1::after {
  content: '';
  height: 2px;
  background-color: #ffffff;
  width: 100%;
  max-width: 225px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.investors-contact { padding: 0; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.investors-contact .one-half { width: 50%; margin: 0; }
.investors-contact .one-half .max-width { max-width: 600px; margin: 0 0 0 75px; }
.investors-contact .one-half:first-child .max-width { float: right; margin: 0 75px 0 0; }
.investors-contact .one-half:first-child .max-width form,
.investors-contact .one-half:first-child .max-width form * { transition: none !important; }
.investors-contact .one-half:first-child .max-width form { padding: 0; margin-bottom: 100px; }
.investors-contact .one-half:first-child .max-width form input,
.investors-contact .gfield_checkbox label { display: inline-block !important; }
.investors-contact form input[type=submit] {
  margin: 0 !important;
  text-indent: 0 !important;
  width: auto !important;
  height: auto !important;
  border-radius: 50px !important;
  padding: 8px 32px !important;
  padding: 8px 32px !important;
  padding: 8px 32px !important;
  padding: 8px 32px !important;
  padding: .5rem 2rem !important;
  background-image: none !important;
  float: left !important;
}
.investors-contact form input, .investors-contact form textarea {
  color: #fff;
  background-color: #1d2336;
  border: 2px solid #555555;
    padding: 6px !important;
}
.investors-contact ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.investors-contact ::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.investors-contact :-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.investors-contact :-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
.image-bottom .one-half {
  min-height: 350px;
  margin-top: 110px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.image-bottom .one-half p {
  color: #fff;
  bottom: 16px;
  bottom: 16px;
  bottom: 16px;
  bottom: 16px;
  bottom: 1rem;
  left: 16px;
  left: 16px;
  left: 16px;
  left: 16px;
  left: 1rem;
  margin: 0;
  position: absolute;
}
.page-id-685 .make-preview, .page-id-685 .make-preview.is_stuck {
  position: relative !important;
  height: auto;
  padding: 50px;
}
.page-id-685 .make-preview .one-third a.secondary-button { display: none; }
.page-id-685 .insperational, .page-id-685 .insperational.is_stuck {
  position: relative !important;
  height: auto;
  min-height: 650px;
  padding: 50px;
}
.page-id-685 .insperational a.secondary-button { 
  display: table;
  margin-bottom: 8px;
  border-color: #fff !important;
  margin: 32px auto 16px auto;
  margin: 32px auto 16px auto;
  margin: 32px auto 16px auto;
  margin: 2rem auto 1rem auto;
  color: #fff;
}
.page-id-685 .slide-over-container {
    height: 850px;
}
.page-id-685 .slide-one {
  height: 100%;
  margin: 0;
}
.page-id-685 .slide-two {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}
.page-id-685 .studies-preview .content-right { width: 100%; }
.page-id-685 .studies-preview .content-right .sticky-slide-content {
  height: 100%;
  width: 100%;
}
.page-id-685 .in-the-news { padding: 50px 0; }
.page-id-685 .in-the-news .max-width { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.page-id-685 .in-the-news h2 { width: 100%; text-align: center; }
.page-id-685 .in-the-news .one-third {
  padding: 25px;
  text-align: center;
}
.page-id-685 .in-the-news .one-third img { max-width: 100%; }
.page-id-685 .in-the-news .one-third .post-date {
  color: #1BB05C;
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.33px;
  margin: 1em 0;
  text-transform: uppercase;
}
.page-id-685 .background-image-content { background-position: bottom -5px center; }
@media only screen and (max-width: 1025px) { 
  .page-id-685 .page-top .page-info .page-title h1 {
    padding-bottom: 15px;
    font-size: 2.5rem;
  }
  .page-id-685 .page-top .page-info .page-title h1 span {
    font-size: 1.5rem;
    line-height: 1;
    margin-top: 10px;
  }
  .investors-contact .one-half:first-child .max-width, .investors-contact .one-half .max-width { margin: 0 auto; }
}
@media only screen and (max-width: 800px) { 
  .page-id-685 .slide-two { display: none; }
  .page-id-685 .studies-preview .content-left { width: 100%; }
  .page-id-685 .studies-preview .content-left .sticky-slide-content { float: none; margin: 0 auto; }
  .page-id-685 .in-the-news .one-third {
    width: 100%;
    margin: 0 auto 50px auto;
    max-width: 600px;
  }
}
@media only screen and (max-width: 500px) { 
  .investors-contact .one-half { width: 100%; }
  .image-bottom .one-half { margin-top: 0; }
  .image-bottom .one-half:first-child { margin-top: 25px; }
  .page-id-685 .insperational .insperational-quote  h2 { margin-top: 0; }
}


/* Woocomerce Archive Pages - Custom Styles */

.twentysixteen .site-main {
    padding: 50px 10px 0 10px;
    margin: 0 auto;
}

.no-sidebar .twentysixteen .site-main {
    margin: 0 auto;
}

.twentysixteen .site-main h1 {
    margin-top: 0;
}

.twentysixteen .site-main form {
    background-color: #fff;
    padding: 0;
}

@media only screen and (max-width: 450px) {
    .woocommerce ul.products li.product, .woocommerce .related ul.products li.product, .woocommerce .upsells.products ul.products li.product, .woocommerce[class*=columns-] ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce-page .related ul.products li.product, .woocommerce-page .upsells.products ul.products li.product, .woocommerce-page[class*=columns-] ul.products li.product {
        float: none !important;
        margin-left: auto;
        margin-right: auto;
        max-width: 280px;
        text-align: center;
        width: auto;
    }
}

.woocommerce .products ul li, .woocommerce ul.products li {
    background-image: none;
}

.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
    width: 33%;
}

.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    width: 64%;
}

.woocommerce form {
    background: #fff;
}

.woocommerce form .form-row label {
    color: #26304b;
}

#add_payment_method table.cart td, #add_payment_method table.cart th, .woocommerce-cart table.cart td, .woocommerce-cart table.cart th, .woocommerce-checkout table.cart td, .woocommerce-checkout table.cart th {
    color: #fff;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: #1BB05C;
    color: #26304b;
    font-size: 1em;
    line-height: 150%;
    font-weight: 700;
    letter-spacing: 0px;
    min-width: 200px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 100px;
}

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    background-color: #16DD6D;
}

.woocommerce .order_details li {
    background-image: none;
}

/*modal styles*/
.modal-overlay {
  position: fixed;
  z-index: 300;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto
}

.modal {
  position: fixed;
  z-index: 99999;
  width: 40%;
  background-color: #ffffff;
  padding: 20px;
  display: block;
  top: 32px;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  margin: auto
}

.modal h4 {
  margin: 0 0 10px 0;
}

.modal-hidden {
  display: none;
}

.modal-close-button {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 900;
  color: #000000;
  text-decoration: none;
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 0;
  z-index: 99999;
}

.meet-the-team{
  background-color: #ffffff;
  min-height: 175px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.meet-the-team h2{
  font-size: 52px;
  color: #1D2336;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  margin: 0;
  text-align: center;
}

.meet-the-team-leadership, .meet-the-team-support{
  background-image: url("../../img/pattern-bg.jpg");
  min-height: 450px;
}

.meet-the-team-engineers{
  min-height: 450px;
  background-color: #ffffff;
}

.footnote{
  background-color: #ffffff;
  max-width: 65%;
  display: block;
  margin: auto;
  padding: inherit;
}

.leadership-inner ul, .leadership-inner ul li, .engineers-inner ul, .engineers-inner ul li, .support-inner ul, .support-inner ul li{
  background-image: none;
}

.leadership-inner ul, .engineers-inner ul, .support-inner ul{
  margin: 0;
}

.leadership-inner, .engineers-inner, .support-inner{
  display: block;
  width: 60%;
  margin: auto;
  padding-top: 40px;
}

.leadership-headline h2, .engineers-headline h2, .support-headline h2{
  margin: 0 0 50px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  position: relative;
}

.leadership-headline h2::after, .engineers-headline h2::after, .support-headline h2::after{
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: auto;
  height: 2px;
  background-color: #00AD5D;
  width: 200px;
}

.leader-member{
  text-align: center;
}

.leader-member-img{
  width: 189px;
  height: 188px;
  margin: auto;
  text-align: center;
  overflow: hidden;
}

.leader-name{
  display: block;
}

.leader-name h3{
  font-size: 36px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 100;
  letter-spacing: 0.075em;
  margin-top: 20px;
  margin-bottom: 0;
  color: #1D2336
}

.leader-title{
  display: block;
}

.leader-title h4{
  font-size: 24px;
  font-weight: 600;
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 0.05em;
  color: #1D2336;
  margin-top: 0;
}

.eng-member, .support-member{
  text-align: center;
  display: block;
  min-height: 300px;
}

.eng-name h3, .support-name h3{
  font-size: 24px;
  font-weight: 200;
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 0.05em;
  color: #1D2336;
  margin-top: 15px;
}

.pub-data-contain{
  margin-top: -30px;
  margin-bottom: 70px;
}

a.pub-data{
  color: inherit;
}

@media only screen and (max-width: 900px) {
  .modal {
    position: fixed;
    z-index: 99999;
    width: 95%;
    background-color: #ffffff;
    padding: 10px;
    display: block;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    overflow-y: auto;
  }
  .modal-hidden {
    display: none;
  }
}